
#container ul {
    display: flex;
    justify-content: center;
}

#container ul li  {
    display: flex;
    margin-right: 20px;
    font-weight: 600;
}

#menu_utama {
    justify-content: center;
}
